@{
    ViewData["Title"] = "About Us";
}
<h2>About Aeronexa</h2>
<p>
    Aeronexa is an airline ticketing and reservation system designed to simplify
    flight bookings, passenger management, and e-ticket generation.
</p>

<h3>Our Team</h3>

<div class="row">
    <div class="col-md-6 text-center">
        <img src="~/images/mustafa.jpg" class="img-fluid rounded-circle" width="150" />
        <h5>Mustafa Muhammad</h5>
        <p>Co-CEO & Founder</p>
    </div>

    <div class="col-md-6 text-center">
        <img src="~/images/khushi.jpg" class="img-fluid rounded-circle" width="150" />
        <h5>Khushi Kandani</h5>
        <p>CO-CEO & Co-Founder</p>
    </div>
    <h3>Message from the Founders</h3>
    <p>
        This video features the founders of Aeronexa introducing the project
        and its objectives.
    </p>
    <div class="ratio ratio-16x9">
        <video controls>
            <source src="~/videos/founders.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

</div>
