@model AirlineTicketingSystem.Models.Entities.Passenger
@{
    ViewData["Title"] = "Add Passenger";
}
<h2>Add Passenger</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="First_Name"></label>
        <input asp-for="First_Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Last_Name"></label>
        <input asp-for="Last_Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="PassportNumber"></label>
        <input asp-for="PassportNumber" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" type="number" min="0" />
    </div>
    <div class="mb-3">
        <label asp-for="Nationality"></label>
        <input asp-for="Nationality" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="ContactEmail"></label>
        <input asp-for="ContactEmail" class="form-control" type="email" />
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>

    <button class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
